---
import { getActivities } from '@/api/activities/queries';
import { updateGoal } from '@/api/goals/mutations';
import { getGoalById } from '@/api/goals/queries';
import GoalForm from '@/pages/goals/_components/GoalForm.astro';
import type { ValidationErrors } from '@/types/formValidation.types';
import { GoalInsertSchema, type GoalInsertPayload } from '@/types/goal.types';
import Layout from '@layouts/MainLayout.astro';
import type { TActivity, TGoal } from 'db/config';
import { ZodError } from 'zod';

const { id } = Astro.params;
const { user } = Astro.locals;

let activities: TActivity[] = [];
let goal: TGoal | undefined;

let validationErrors: ValidationErrors<GoalInsertPayload> | undefined;

try {
  activities = await getActivities(user.id);
  goal = await getGoalById({ id: Number(id), userId: user.id });
} catch (error) {
  if (error instanceof ZodError) {
    validationErrors = error.flatten().fieldErrors as ValidationErrors<GoalInsertPayload>;
  } else return Astro.redirect(`/error?redirect=goals/${id}`);
}

if (Astro.request.method === 'POST') {
  if (!goal) throw new Error('Goal not found');
  const formData = await Astro.request.formData();
  try {
    const data = GoalInsertSchema.parse(formData);
    await updateGoal({ ...data, userId: user.id, goalId: goal.id });

    return Astro.redirect('/goals');
  } catch (error) {
    if (error instanceof ZodError) {
      validationErrors = error.flatten().fieldErrors as ValidationErrors<GoalInsertPayload>;
    } else return Astro.redirect(`/error?redirect=goals/${id}`);
  }
}
const title = 'Edit Goal';
---

<Layout pageName='Goal'>
  <section class='flex w-full flex-col gap-4'>
    <header>
      <h1 class='text-4xl font-bold'>{title}</h1>
    </header>
    <GoalForm activities={activities} goal={goal} validationErrors={validationErrors}>
      <a href='/goals' class='btn text-warning'>Cancel</a>
    </GoalForm>
  </section>
</Layout>
