---
import { getActivities } from '@/api/activities/queries';
import { ITEMS_PER_PAGE } from '@/api/goals/queries';
import GoalFilterSidebar from '@/pages/goals/_components/GoalFilters.astro';
import type { GoalFilters, GoalFormParam } from '@/types/filters.types';
import Layout from '@layouts/MainLayout.astro';
import type { TActivity } from 'db/config';
import GoalsContainer from './_components/GoalsContainer.astro';

const { user } = Astro.locals;

function getParam(param: string) {
  return Astro.url.searchParams.get(param);
}

function getGoalParam(param: GoalFormParam) {
  return getParam(param);
}
const params = {
  completed: getGoalParam('completed'),
  notCompleted: getGoalParam('notCompleted'),
  expired: getGoalParam('expired'),
  notExpired: getGoalParam('notExpired'),
  fromDate: getGoalParam('fromDate'),
  toDate: getGoalParam('toDate'),
  activity: getGoalParam('activity')
};
const goalFilters: GoalFilters = {
  completed: params.completed === 'on' || undefined,
  notCompleted: params.notCompleted === 'on' || undefined,
  expired: params.expired === 'on' || undefined,
  notExpired: params.notExpired === 'on' || undefined,
  fromDate: params.fromDate || undefined,
  toDate: params.toDate || undefined,
  activity: Number(params.activity) || undefined
};
const offsetFilter = Number(getParam('offset')) || 0;
const currentPage = offsetFilter / ITEMS_PER_PAGE + 1;

let activities: TActivity[] = [];

try {
  activities = await getActivities(user.id);
} catch (error) {
  return Astro.redirect('error?redirect=goals');
}
Astro.response.headers.set('Cache-Control', 'private, max-age=3600');
---

<Layout pageName='Goals'>
  <section class='flex flex-col gap-4 md:flex-row'>
    <GoalFilterSidebar activities={activities} filters={goalFilters} />
    <GoalsContainer
      goalFilters={goalFilters}
      currentPage={currentPage}
      params={params}
      offset={offsetFilter}
      server:defer>
    </GoalsContainer>
  </section>
</Layout>