---
import { getCategories } from '@/api/categories/queries';
import { ITEMS_PER_PAGE, getPaginatedGoals } from '@/api/goals/queries';
import Layout from '@layouts/MainLayout.astro';
import GoalFilterSidebar from '@/pages/goals/_components/GoalFilters.astro';
import type { GoalFilters, GoalFormParam } from '@/types/filters.types';
import Fab from '@components/Fab.astro';
import GoalsList from '@components/GoalsList.astro';
import type { TCategory, TGoal } from 'db/config';
const { user } = Astro.locals;

function getParam(param: string) {
  return Astro.url.searchParams.get(param);
}

function getGoalParam(param: GoalFormParam) {
  return getParam(param);
}

const goalFilters: GoalFilters = {
  completed: getGoalParam('completed') === 'on' || undefined,
  notCompleted: getGoalParam('notCompleted') === 'on' || undefined,
  expired: getGoalParam('expired') === 'on' || undefined,
  notExpired: getGoalParam('notExpired') === 'on' || undefined,
  fromDate: getGoalParam('fromDate') || undefined,
  toDate: getGoalParam('toDate') || undefined,
  category: Number(getGoalParam('category')) || undefined
};
const offsetFilter = Number(getParam('offset')) || 0;
const currentPage = offsetFilter / ITEMS_PER_PAGE + 1;
let totalRows = 0;
let goals: TGoal[] = [];
let totalPages = 0;
let categories: TCategory[] = [];

try {
  const { getGoals, getPages } = getPaginatedGoals({
    userId: user.id,
    offset: offsetFilter,
    filters: goalFilters
  });

  const res = await Promise.all([getGoals, getPages]);
  goals = res[0];
  totalRows = res[1]?.count ?? 0;
  totalPages = Math.ceil(totalRows / ITEMS_PER_PAGE);
  categories = await getCategories(user.id);
} catch (error) {
  return Astro.redirect('goals/error');
}
---

<Layout pageName='Goals'>
  <section transition:animate='none' class='flex-container'>
    <div class='content flex max-h-full flex-col gap-4 sm:flex-row'>
      <GoalFilterSidebar categories={categories} filters={goalFilters} />
      <div class='flex-container max-w-xl'>
        <GoalsList
          title='Goals'
          goals={goals}
          totalRows={totalRows}
          totalPages={totalPages}
          offset={offsetFilter}
          currentPage={currentPage}
          itemsPerPage={ITEMS_PER_PAGE}
        />
      </div>
    </div>
  </section>
  <Fab href='/goals/new'>+</Fab>
</Layout>
