---
import { getCategories } from '@/api/categories/queries';
import { ITEMS_PER_PAGE, getPaginatedGoals } from '@/api/goals/queries';
import GoalFilterSidebar from '@/pages/goals/_components/GoalFilters.astro';
import CategoriesStore from '@/store/categories.store';
import GoalStore from '@/store/goals.store';
import type { GoalFilters, GoalFormParam } from '@/types/filters.types';
import Fab from '@components/Fab.astro';
import GoalsList from '@components/GoalsList.astro';
import Layout from '@layouts/MainLayout.astro';
import type { TCategory, TGoal } from 'db/config';

const { user } = Astro.locals;

function getParam(param: string) {
  return Astro.url.searchParams.get(param);
}

function getGoalParam(param: GoalFormParam) {
  return getParam(param);
}

const goalFilters: GoalFilters = {
  completed: getGoalParam('completed') === 'on' || undefined,
  notCompleted: getGoalParam('notCompleted') === 'on' || undefined,
  expired: getGoalParam('expired') === 'on' || undefined,
  notExpired: getGoalParam('notExpired') === 'on' || undefined,
  fromDate: getGoalParam('fromDate') || undefined,
  toDate: getGoalParam('toDate') || undefined,
  category: Number(getGoalParam('category')) || undefined
};
const offsetFilter = Number(getParam('offset')) || 0;
const currentPage = offsetFilter / ITEMS_PER_PAGE + 1;
let totalRows = 0;
let goals: TGoal[] = [];
let totalPages = 0;
let categories: TCategory[] = [];

try {
  const { getGoals, getPages } = getPaginatedGoals({
    userId: user.id,
    offset: offsetFilter,
    filters: goalFilters
  });
  const cachedGoals = GoalStore.get(currentPage);
  if (cachedGoals) {
    goals = cachedGoals;
    console.log('CACHED GOALS--->', goals);
  } else {
    goals = await getGoals;
    GoalStore.set(currentPage, ...goals);
    console.log('LOAD GOALS');
  }
  const cachedGoalsCount = GoalStore.getGoalsCount();
  if (cachedGoalsCount) {
    totalRows = totalPages;
    console.log('CACHED GOALS COUNT--->', cachedGoalsCount);
  } else {
    const pages = await getPages;
    totalRows = pages?.count ?? 0;
    GoalStore.setGoalsCount(totalRows);
    console.log('LOAD GOALS COUNT--->', totalRows);
  }
  totalPages = Math.ceil(totalRows / ITEMS_PER_PAGE);

  const cachedCategories = CategoriesStore.get();
  if (cachedCategories) {
    categories = cachedCategories;
    console.log('CACHED CATEGORIES--->', categories);
  } else {
    categories = await getCategories(user.id);
    CategoriesStore.set(categories);
    console.log('LOAD CATEGORIES--->', categories);
  }
} catch (error) {
  console.log(error);
  return Astro.redirect('goals/error');
}
---

<Layout pageName='Goals'>
  <section transition:animate='none' class='flex-container'>
    <div class='content flex max-h-full flex-col gap-4 sm:flex-row'>
      <GoalFilterSidebar categories={categories} filters={goalFilters} />
      <div class='flex-container max-w-xl'>
        <GoalsList
          title='Goals'
          goals={goals}
          totalRows={totalRows}
          totalPages={totalPages}
          offset={offsetFilter}
          currentPage={currentPage}
          itemsPerPage={ITEMS_PER_PAGE}
        />
      </div>
    </div>
  </section>
  <Fab href='/goals/new'>+</Fab>
</Layout>
