---
import { getCategories } from '@/api/categories/queries';
import { ITEMS_PER_PAGE, getPaginatedGoals } from '@/api/goals/queries';
import GoalFilterSidebar from '@/pages/goals/_components/GoalFilters.astro';
import FilterStore from '@/store/filters.store';
import GoalStore from '@/store/goals.store';
import type { GoalFilters, GoalFormParam } from '@/types/filters.types';
import Fab from '@components/Fab.astro';
import GoalsList from '@components/GoalsList.astro';
import PlusIcon from '@components/icons/PlusIcon.astro';
import Layout from '@layouts/MainLayout.astro';
import type { TCategory, TGoal } from 'db/config';

const { user } = Astro.locals;

function getParam(param: string) {
  return Astro.url.searchParams.get(param);
}

function getGoalParam(param: GoalFormParam) {
  return getParam(param);
}

const goalFilters: GoalFilters = {
  completed: getGoalParam('completed') === 'on' || undefined,
  notCompleted: getGoalParam('notCompleted') === 'on' || undefined,
  expired: getGoalParam('expired') === 'on' || undefined,
  notExpired: getGoalParam('notExpired') === 'on' || undefined,
  fromDate: getGoalParam('fromDate') || undefined,
  toDate: getGoalParam('toDate') || undefined,
  category: Number(getGoalParam('category')) || undefined
};
const offsetFilter = Number(getParam('offset')) || 0;
const currentPage = offsetFilter / ITEMS_PER_PAGE + 1;
let totalRows = 0;
let goals: TGoal[] = [];
let totalPages = 0;
let categories: TCategory[] = [];

FilterStore.checkFilterChange({ goalFilters, onChangedFilters: () => GoalStore.clear() });
FilterStore.setFilters(goalFilters);
FilterStore.setCurrentPage(currentPage);

try {
  const { countGoals, goals: getGoals } = await getPaginatedGoals({
    userId: user.id,
    page: currentPage,
    filters: goalFilters
  });
  goals = getGoals;
  totalPages = Math.ceil(countGoals / ITEMS_PER_PAGE);

  categories = await getCategories(user.id);
} catch (error) {
  return Astro.redirect('goals/error');
}
---

<Layout pageName='Goals'>
  <section transition:animate='none' class='flex-container'>
    <div class='content flex flex-col gap-4'>
      <GoalFilterSidebar categories={categories} filters={goalFilters} />
      <div class='flex grow flex-col gap-4 md:flex-row'>
        <GoalsList
          title='Goals'
          goals={goals}
          totalRows={totalRows}
          totalPages={totalPages}
          offset={offsetFilter}
          currentPage={currentPage}
          itemsPerPage={ITEMS_PER_PAGE}
        />
      </div>
    </div>
  </section>
  <Fab href='/goals/new'> +</Fab>
</Layout>

<style>
  .report {
    container-type: inline-size;
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    h3 {
      font-weight: bold;
      font-size: clamp(1.5em, 5cqw, 2em);
    }
  }
</style>
