---
import { createActivity } from '@/api/activities/mutations';
import { getGoalsWithActivities } from '@/api/activities/queries';
import { ActivitySchema, type ActivityInsertPayload } from '@/types/activities.types';
import { timeFilters, type TimeFilter } from '@/types/filters.types';
import type { ValidationErrors } from '@/types/formValidation.types';
import { toFixedDecimals } from '@/utils/fixed-decimals';
import ActivityForm from '@components/ActivityForm.astro';
import Fab from '@components/Fab.astro';
import Popover from '@components/Popover.astro';
import Layout from '@layouts/MainLayout.astro';
import { ZodError } from 'zod';
const { user } = Astro.locals;

const time = Astro.url.searchParams.get('time');
if (!time) return Astro.redirect('/activities?time=month');

const mostUsedActivity = await getGoalsWithActivities({ userId: Astro.locals.user.id, timeFilter: time as TimeFilter });
const total = mostUsedActivity.reduce((acc, activity) => acc + activity.goalCount, 0);
const percentages = mostUsedActivity.map((activity) => {
  const percent = (activity.goalCount / total) * 100;
  const formattedNum = toFixedDecimals(percent);
  return formattedNum;
});

let validationErrors: ValidationErrors<ActivityInsertPayload> | undefined;

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();

  try {
    const data = ActivitySchema.parse(formData);
    await createActivity({
      authorId: user.id,
      ...data
    });
    return Astro.redirect('/activities');
  } catch (error) {
    if (error instanceof ZodError) {
      validationErrors = error.flatten().fieldErrors as ValidationErrors<ActivityInsertPayload>;
    } else return Astro.redirect('/error?redirect=activities');
  }
}
---

<Layout pageName='Activities'>
  <div class='flex w-full flex-col gap-4 sm:max-w-sm' transition:name="content">
    <h1 class='text-4xl'>Activities</h1>
    <header role='tablist' class='tabs-boxed tabs'>
      {
        timeFilters.map((filter) => (
          <a
            data-astro-prefetch
            class:list={[{ 'tab-active': filter === time }]}
            class='tab capitalize'
            href={`/activities?time=${filter}`}>
            {filter}
          </a>
        ))
      }
    </header>
    <section class='card flex max-w-md flex-col gap-8 bg-base-200 text-neutral-content'>
      <div class='card-body gap-8'>
        <div class='flex flex-col gap-4'>
          {
            mostUsedActivity.map((activity, i) => (
              <div class='flex justify-between gap-2'>
                <div class='col-span-1'>
                  <div class='flex items-center gap-2'>
                    <img src={activity.icon} alt='activity-icon' class='h-8 w-8 rounded-lg bg-base-content p-1' />
                    <a href={`/activities/${activity.activityId}`} class='hover:font-bold'>
                      {activity.activityName}
                    </a>
                  </div>
                </div>
                <div class='flex gap-2'>
                  <div class='flex items-center justify-end'>
                    <div
                      class='activity-bar h-6 w-full origin-right justify-end rounded transition-transform'
                      style={`width: ${percentages[i]}px; background-color: ${activity.color}`}
                    />
                  </div>
                  <div class='w-14 content-center text-end'>{percentages[i]}%</div>
                </div>
              </div>
            ))
          }
          {mostUsedActivity.length === 0 && <div class='text-center'>No activities found</div>}
        </div>
      </div>
    </section>
    <Popover id='new-activity-dialog' title='New Activity'>
      <ActivityForm validationErrors={validationErrors} />
    </Popover>
  </div>
  <Fab popoverTarget='new-activity-dialog'>+</Fab>
</Layout>
<style>
  @keyframes expand {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .activity-bar {
    animation: expand 1s ease-in-out;
  }
</style>
