---
import { getGoalsWithActivities } from '@/api/activities/queries';
import { timeFilters, type TimeFilter } from '@/types/filters.types';
import { toFixedDecimals } from '@/utils/fixed-decimals';
import Fab from '@components/Fab.astro';
import Layout from '@layouts/MainLayout.astro';

const time = Astro.url.searchParams.get('time');
if (!time) return Astro.redirect('/activities?time=month');

const mostUsedActivity = await getGoalsWithActivities({ userId: Astro.locals.user.id, timeFilter: time as TimeFilter });
const total = mostUsedActivity.reduce((acc, activity) => acc + activity.goalCount, 0);
const percentages = mostUsedActivity.map((activity) => {
  const percent = (activity.goalCount / total) * 100;
  const formattedNum = toFixedDecimals(percent);
  return formattedNum;
});
---

<Layout pageName='Activities'>
  <div class='flex flex-col gap-4'>
    <h1 class='text-4xl'>Activities</h1>
    <header role='tablist' class='tabs-boxed tabs max-w-sm'>
      {
        timeFilters.map((filter) => (
          <a
            data-astro-prefetch
            class={`tab capitalize ${filter === time ? 'tab-active' : ''}`}
            href={`/activities?time=${filter}`}>
            {filter}
          </a>
        ))
      }
    </header>
    <section class='card flex max-w-md flex-col gap-8 bg-base-200 text-neutral-content'>
      <div class='card-body gap-8'>
        <div class='flex flex-col gap-4'>
          {
            mostUsedActivity.map((activity, i) => (
              <div class='flex justify-between gap-2'>
                <div class='col-span-1'>
                  <a href={`/activities/${activity.activityId}`} class='hover:font-bold'>
                    {activity.activityName}
                  </a>
                </div>
                <div class='flex gap-2'>
                  <div class='flex justify-end'>
                    <div
                      class='activity-bar w-full origin-right justify-end rounded bg-red-500 transition-transform'
                      style={`width: ${percentages[i]}px`}
                    />
                  </div>
                  <div class='w-14 text-end'>{percentages[i]}%</div>
                </div>
              </div>
            ))
          }
          {mostUsedActivity.length === 0 && <div class='text-center'>No activities found</div>}
        </div>
      </div>
    </section>
  </div>
  <Fab href='/activities/new'>+</Fab>
</Layout>
<style>
  @keyframes expand {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .activity-bar {
    animation: expand 1s ease-in-out;
  }
</style>
