---
import TextInput from '@/components/TextInput.astro';
import type { ValidationErrors } from '@/types/formValidation.types';
import { getAllIconPaths } from '@/utils/getAllFilesName';
import InputContainer from '@components/InputContainer.astro';
import SubmitButton from '@components/SubmitButton.astro';
import type { TActivity } from 'db/config';

const icons = getAllIconPaths();
type Props = {
  title?: string;
  activity?: TActivity;
  validationErrors?: ValidationErrors;
};
const { activity, validationErrors, title } = Astro.props;
---

<section class='flex  flex-col gap-8'>
  {title && <h1 class='text-4xl font-bold'>{title}</h1>}

  <form method='post'>
    <div class='flex flex-col gap-4 rounded border border-base-200 bg-base-200 p-4'>
      <div class='col-span-2 flex flex-col gap-4'>
        <InputContainer HTMLFor='name' label='Activity name' errors={validationErrors?.name}>
          <TextInput
            variant='300'
            value={activity?.name}
            id='create-activity'
            name='name'
            placeholder='insert name...'
          />
        </InputContainer>

        <InputContainer HTMLFor='select-icon-btn' label='Select icon' errors={validationErrors?.icon}>
          <div class='flex flex-wrap gap-2'>
            {
              icons.map((path) => (
                <button type='button' class='icon-select-btn'>
                  <img
                    src={path}
                    alt='icon'
                    class:list={[
                      { outline: activity?.icon && path.includes(activity.icon) },
                      { 'outline-warning': activity?.icon && path.includes(activity.icon) }
                    ]}
                    class='h-12 w-12 rounded-lg bg-base-content p-1'
                  />
                </button>
              ))
            }
          </div>
          <input id='activity-icon-input' type='hidden' name='icon' value={activity?.icon} />
        </InputContainer>

        <InputContainer HTMLFor='color' label='Select color' errors={validationErrors?.color}>
          <input
            id='color-picker'
            type='color'
            value={activity?.color}
            name='color'
            value='#ef4444'
            class:list={['box', 'bg-error', 'h-8', 'w-24']}
          />
        </InputContainer>

        <div class='flex justify-end gap-4'>
          <slot/>
          <SubmitButton className='!btn-warning disabled:!bg-warning'>
            {activity ? 'Update' : 'Create'}
          </SubmitButton>
        </div>
      </div>
    </div>
  </form>
  <style>
    #color-picker {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    #color-picker::-webkit-color-swatch {
      height: 100%;
      border-radius: 0.25rem;
      border: 1px solid white;
    }
    #color-picker::-moz-color-swatch {
      height: 100%;
      border: 1px solid white;
    }
  </style>
</section>
<script>
  const iconBtns = document.querySelectorAll<HTMLButtonElement>('.icon-select-btn');
  const iconImgs = document.querySelectorAll<HTMLButtonElement>('.icon-select-btn>img');
  const selectedIcon = document.querySelector<HTMLInputElement>('#activity-icon-input');
  iconBtns.forEach((btn, i) => {
    btn.addEventListener('click', (e) => {
      const target = e.target as HTMLImageElement;
      if (selectedIcon && target) {
        selectedIcon.value = target.src;
      }
      iconImgs.forEach((img, j) => {
        if (j !== i) {
          img.classList.remove('outline', 'outline-warning');
        } else {
          img.classList.add('outline', 'outline-warning');
        }
      });
    });
  });
</script>
