---
type Props = {
  label: string;
  name: string;
  required?: boolean;
  value?: Date | null;
  min?: Date;
};
const { label, name, required = false, value, min } = Astro.props;

export function getInputDateString(date: Date) {
  return date.toISOString().slice(0, 10);
}
---

<div class='flex flex-col gap-2'>
  <label for={name} class='label-text lg:text-base'>{label}</label>
  <input
    required={required}
    type='date'
    id={name}
    name={name}
    value={value ? getInputDateString(value) : undefined}
    min={min ? getInputDateString(min) : undefined}
    class='input input-bordered w-fit rounded-lg p-2 font-semibold hover:cursor-pointer'
  />
</div>
<style>
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  input {
    font-size: min(3.5vw, 16px);
    animation-name: fade;
    animation-duration: 300ms;
  }
</style>
