---
import '../../node_modules/quill/dist/quill.snow.css';
import '../styles/editor.css';

type Props = {
  value?: string;
  id: string;
  name: string;
  placeholder: string;
  register?: boolean;
};
const { value, id, name, placeholder, register = true } = Astro.props;

---

<quill-editor
  data-id={id}
  data-name={name}
  data-placeholder={placeholder}
  data-value={value}
  data-register={register.toString()}
  class='flex h-full grow flex-col gap-2 rounded-xl md:min-h-40'>
  <div
    id={`${id}-container`}
    class='flex-container hidden max-w-full grow animate-pulse flex-col rounded-xl bg-base-content/50 p-1'>
    <div id={id} class='content max-w-full text-black'></div>
  </div>
</quill-editor>

<script>
  import Quill from 'quill';

  class QuillEditor extends HTMLElement {
    constructor() {
      super();
      const { value, placeholder, id, name, register } = this.dataset;
      const form = document.querySelector('#goal-form') as HTMLFormElement;
      if (!id || !name) throw new Error('Editor ID or name is required');

      const quillEditor = document.querySelector('quill-editor') as HTMLFormElement;
      const quill = new Quill(`#${id}`, {
        modules: {
          toolbar: [[{ header: [1, 2, 3, false] }], ['bold', 'italic', 'underline'], ['link', 'code-block']]
        },
        placeholder,
        theme: 'snow'
      });
      const editorContainer = document.querySelector(`#${id}-container`);

      editorContainer?.classList.remove('animate-pulse');
      editorContainer?.classList.replace('hidden', 'flex');

      if (value) quill.setContents(JSON.parse(value));
      if (form && form.contains(quillEditor) && register === 'true') {
        form.addEventListener('formdata', (event) => {
          event.formData.append(name, JSON.stringify(quill.getContents().ops));
        });
      }
    }
  }

  customElements.define('quill-editor', QuillEditor);
</script>
