---
import '@/styles/highlight.css';
import '../../node_modules/quill/dist/quill.snow.css';

type Props = {
  value?: string;
  label: string;
  name: string;
  placeholder: string;
};
const { value, label, name, placeholder } = Astro.props;
---

<quill-editor data-value={value} data-id={name} data-placeholder={placeholder}></quill-editor>
<div class='flex h-48 flex-col gap-2'>
  <label for={`${label}-container`} class='label-text capitalize lg:text-base'>{label}</label>
  <div id='loader' class='h-full w-full animate-pulse rounded bg-base-100'></div>
  <div id={`${label}-container`} class='hidden max-w-full grow flex-col bg-white'>
    <div id={label} class='max-w-full grow bg-white text-black'></div>
  </div>
</div>

<script>
  import { debounce } from '@/utils/debounce';
  const speedHighlight = await import('@speed-highlight/core');
  const Quill = await import('quill');

  class QuillEditor extends HTMLElement {
    constructor() {
      super();
      const { value, placeholder, id } = this.dataset;

      const form = document.querySelector('#goal-form') as HTMLFormElement;
      if (!id) throw new Error('Editor ID is required');

      const quillEditor = document.querySelector('quill-editor') as HTMLFormElement;
      const quill = new Quill.default(`#${id}`, {
        modules: {
          toolbar: [[{ header: [1, 2, 3, 4, 5, false] }], ['bold', 'italic', 'underline'], ['link', 'code-block']]
        },
        placeholder,
        theme: 'snow'
      });

      let codeBlock: HTMLDivElement | null = null;
      quill.on('selection-change', () => {
        setTimeout(() => {
          codeBlock = document.querySelector('div.ql-code-block');
          console.log(codeBlock);
          codeBlock?.classList.add('shj-lang-js');
        }, 0);
      });
      const highlight = debounce(async() => {
        console.log('text change');
        if (codeBlock) {
          console.log( await speedHighlight.highlightElement(codeBlock, 'js'));
        }
      }, 3000);

      quill.on('text-change', () => {
        highlight();
      });

      const loader = document.querySelector('#loader');
      loader?.remove();
      const editorContainer = document.querySelector(`#${id}-container`);
      editorContainer?.classList.replace('hidden', 'flex');
      if (value) quill.setContents(JSON.parse(value));
      if (form && form.contains(quillEditor)) {
        form.addEventListener('formdata', (event) =>
          event.formData.append(id, JSON.stringify(quill.getContents().ops))
        );
      }
    }
  }

  customElements.define('quill-editor', QuillEditor);
</script>
