---
import '../styles/editor.css';
import '../../node_modules/quill/dist/quill.snow.css';

type Props = {
  value?: string;
  id: string;
  name: string;
  placeholder: string;
};
const { value, id, name, placeholder } = Astro.props;
---

<quill-editor
  data-value={value}
  data-id={name}
  data-placeholder={placeholder}
  class='flex h-full grow flex-col gap-2 rounded-xl'>
  <div id='loader' class='h-full w-full animate-pulse rounded-xl border-x bg-base-content/50'></div>
  <div id={`${id}-container`} class='flex-container hidden max-w-full grow flex-col rounded-xl bg-base-content/50 p-1'>
    <div id={id} class='content max-w-full text-black'></div>
  </div>
</quill-editor>

<script>
  const Quill = await import('quill');

  class QuillEditor extends HTMLElement {
    constructor() {
      super();
      const { value, placeholder, id } = this.dataset;

      const form = document.querySelector('#goal-form') as HTMLFormElement;
      if (!id) throw new Error('Editor ID is required');

      const quillEditor = document.querySelector('quill-editor') as HTMLFormElement;
      const quill = new Quill.default(`#${id}`, {
        modules: {
          toolbar: [[{ header: [1, 2, 3, 4, 5, false] }], ['bold', 'italic', 'underline'], ['link', 'code-block']]
        },
        placeholder,
        theme: 'snow'
      });

      const loader = document.querySelector('#loader');
      loader?.remove();
      const editorContainer = document.querySelector(`#${id}-container`);

      // const formats = document.querySelectorAll('.ql-formats');
      // formats?.forEach((el) => el.classList.add('!mr-0'));

      editorContainer?.classList.replace('hidden', 'flex');

      if (value) quill.setContents(JSON.parse(value));
      if (form && form.contains(quillEditor)) {
        form.addEventListener('formdata', (event) =>
          event.formData.append(id, JSON.stringify(quill.getContents().ops))
        );
      }
    }
  }

  customElements.define('quill-editor', QuillEditor);
</script>