---
type Props = {
  id: string;
  options: any[];
  fieldKey: string;
  label: string;
  value?: any;
  form: string;
  name: string;
};
const { fieldKey, form, label, options, value, name, id } = Astro.props;
---

<select id={id} class='select select-bordered w-fit' name={name} form={form}>
  <option value='' disabled hidden>Pick a activity</option>
  {
    options.map((option) => (
      <div>
        {option[fieldKey]}
        <option value={String(option[fieldKey])} selected={option[fieldKey] === value}>
          {String(option[label])}
        </option>
      </div>
    ))
  }
</select>
