---
type Props = {
  id: string;
  options: any[];
  optionKey: string;
  optionLabelKey: string;
  value?: any;
  name: string;
  required?: boolean;
};
const { optionKey, optionLabelKey, options, value, name, id, required = false } = Astro.props;
---

<select required={required} id={id} class='select select-bordered w-fit' name={name}>
  <option value='' disabled hidden>Pick a activity</option>
  {
    options.map((option) => (
      <div>
        <option value={String(option[optionKey])} selected={option[optionKey] === value}>
          {String(option[optionLabelKey])}
        </option>
      </div>
    ))
  }
</select>
