---
import { Image } from 'astro:assets';
import { SignIn } from 'auth-astro/components';
import { getSession } from 'auth-astro/server';
import Logo from '../../public/github-mark.svg';
type Props = {
  label: string;
  className?: string;
};
const { className, label } = Astro.props;
const session = await getSession(Astro.request);
---

{
  session ? (
    <a
      href='/goals'
      class={`${className} btn flex min-w-32 items-center justify-center gap-2 rounded-2xl bg-black hover:bg-black disabled:!bg-primary disabled:text-base-300`}>
      <Image src={Logo} alt={'github logo'} class='h-6 w-6' /> {label}
    </a>
  ) : (
    <SignIn
      id='sign-in'
      provider='github'
      options={{
        callbackUrl: '/goals'
      }}
      class={`${className} btn flex min-w-32 items-center justify-center gap-2 rounded-2xl bg-black hover:bg-black disabled:!bg-primary disabled:text-base-300`}>
      <div class='flex items-center gap-2'>
        <Image src={Logo} alt={'github logo'} class='h-6 w-6' />
        <span>{label}</span>
      </div>
    </SignIn>
  )
}

<script>
  const buttons = document.querySelectorAll<HTMLButtonElement>('#sign-in');
  const spinner = document.createElement('span');
  spinner.classList.add('loading', 'loading-spinner', 'loading-md');

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('mousedown', () => {
      button.textContent = '';
      button.appendChild(spinner);
    });
  });
</script>
