---
import { updateActivity } from '@/api/activities/mutations';
import { getActivities, getActivityById } from '@/api/activities/queries';
import { ITEMS_PER_PAGE, getGoalByActivityId } from '@/api/goals/queries';
import { ActivitySchema } from '@/types/activities.types';
import ActivityForm from '@components/ActivityForm.astro';
import GoalsList from '@components/GoalsList.astro';
import Popover from '@components/Popover.astro';
import Layout from '@layouts/MainLayout.astro';
import { purgeCache } from '@netlify/functions';
import type { TActivity, TGoal } from 'db/config';
import { ZodError } from 'zod';

const { id } = Astro.params;
const { user } = Astro.locals;

function getParam(param: string) {
  return Astro.url.searchParams.get(param);
}
const offsetFilter = Number(getParam('offset')) || 0;
const currentPage = offsetFilter / ITEMS_PER_PAGE + 1;

let goals: TGoal[] = [];
let totalPages = 0;
let totalRows = 0;
let activities: TActivity[] = [];
let activity: TActivity | undefined;

try {
  const { count, goals: goalsByActivity } = await getGoalByActivityId({
    activityId: Number(id),
    userId: user.id,
    page: currentPage
  });

  activity = await getActivityById({
    id: Number(id),
    userId: user.id
  });
  goals = goalsByActivity;
  totalRows = count;
  totalPages = Math.ceil(totalRows / ITEMS_PER_PAGE);

  activities = await getActivities(user.id);
} catch (error) {
  return Astro.redirect(`/error?redirect=activities/${activity.id}`);
}

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();

  try {
    if (!activity) throw new Error('Activity not found');
    const data = ActivitySchema.parse(formData);
    await updateActivity({ ...activity, ...data });
    await purgeCache({
      tags: [
        `activities-${user.id}`,
        `activity-${activity.id}-${user.id}`,
        `goals-${user.id}`,
        `reports-${user.id}`,
        `goals-new-${user.id}`
      ]
    });

    return Astro.redirect(`/activities/${activity.id}`);
  } catch (error) {
    if (error instanceof ZodError) {
    } else return Astro.redirect(`/error?redirect=activities/${activity.id}`);
  }
}
if (activity) {
  Astro.response.headers.set(
    'Netlify-CDN-Cache-Control',
    'private, durable, s-maxage=604800, stale-while-revalidate=604800'
  );
  Astro.response.headers.set('netlify-cache-tag', `activity-${activity.id}-${user.id}`);
}
---

<Layout pageName='Activity'>
  <div class='flex-container gap-8'>
    <div class='flex justify-between'>
      <h1 class='text-3xl font-bold text-base-content'>{activity?.name}</h1>
      <div class='content-center'>
        <button id='edit-activity' class='uppercase sm:btn active:scale-105' popovertarget='edit-activity-dialog'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='size-6 active:scale-105 active:text-warning sm:hidden'>
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125'>
            </path>
          </svg>
          <span class='hidden sm:block'>Edit Activity</span>
        </button>
        <Popover id='edit-activity-dialog' title='Edit Activity'>
          <ActivityForm activity={activity}>
            <button
              type='button'
              popovertargetaction='hide'
              popovertarget='edit-activity-dialog'
              id='cancel-edit-btn'
              class='btn btn-ghost text-base-content'>
              Cancel
            </button>
          </ActivityForm>
        </Popover>
      </div>
    </div>
    <GoalsList
      activities={activities}
      goals={goals}
      totalPages={totalPages}
      offset={offsetFilter}
      currentPage={currentPage}
      itemsPerPage={ITEMS_PER_PAGE}
    />
  </div>
</Layout>
