---
import type { GoalFilters } from '@/types/filters.types';
import Checkbox from '@components/Checkbox.astro';
import DatePicker from '@components/DatePicker.astro';
import type { TCategory } from 'db/config';
import AstroSelect from '../../../components/Select.astro';

type Props = {
  categories: TCategory[];
  filters: GoalFilters;
};
const { categories, filters } = Astro.props;
const { fromDate: fromDate, toDate, category: filterCategory, expired, notExpired, completed, notCompleted } = filters;
---

<aside class='collapse collapse-arrow h-fit w-auto min-w-[18rem] border border-base-300/50 bg-base-200 shadow'>
  <input type='checkbox' class='sm:!cursor-default' />
  <header class='collapse-title text-xl font-medium sm:text-2xl'>Filters</header>
  <section class='collapse-content'>
    <form id='filter-form' method='get' class='flex flex-col gap-4'>
      <div class='flex flex-col gap-2 sm:flex-row'>
        <DatePicker name='fromDate' label='From Date' value={fromDate ? new Date(fromDate) : null} />
        <DatePicker name='toDate' label='To Date' value={toDate ? new Date(toDate) : null} />
      </div>

      <div class='flex flex-col gap-2'>
        <label for='select-category' class='label-text lg:text-base'>Select Category</label>
        <AstroSelect
          value={filterCategory}
          options={categories}
          label={'name'}
          fieldKey={'id'}
          id='select-category'
          name='category'
          form='filter-form'
        />
      </div>
      <div class='space-y-4 py-2'>
        <Checkbox checked={completed} label='Completed' name='completed' />
        <Checkbox checked={notCompleted} label='Not Completed' name='notCompleted' />
        <Checkbox checked={expired} label='Expired' name='expired' />
        <Checkbox checked={notExpired} label='Not Expired' name='notExpired' />
      </div>

      <div class='flex flex-col sm:flex-row sm:justify-end gap-2'>
        <a href='/goals' class='btn bg-base-content/15 hover:border-base-100 hover:hover:bg-base-content/10'>Reset</a>
        <button type='submit' class='sm:btn-wide btn bg-base-content/15 hover:border-base-100 hover:hover:bg-base-content/10'>
          Filter
        </button>
      </div>
    </form>
  </section>
</aside>

<style>
  input[type='date'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
</style>
