---
import '@/styles/commons.css';
import Dropdown from '@components/Dropdown.astro';
import SignOut from '@components/SignOutButton.astro';

import '@fontsource/inter';
const { user } = Astro.locals;
type Props = {
  pageName?: string;
};
const { pageName } = Astro.props;
const links = ['Activities', 'Goals', 'Reports'];
---

<html>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageName}</title>
  </head>
  <body class='flex h-dvh flex-col bg-base-content/5'>
    <header class='min-h-16 bg-base-300 py-2 shadow-md shadow-base-300/50'>
      <nav class='navbar justify-end gap-4'>
        <div class="gap-4 hidden md:flex">
          <a data-astro-prefetch href='/goals'>Goals</a>
          <a data-astro-prefetch href='/activities'>Activities 🏗️</a>
          <a data-astro-prefetch href='/reports'>Reports 🏗️</a>
        </div>
        <Dropdown>
          <button
            slot='trigger'
            class='btn btn-circle border-base-content bg-base-content text-base-300 hover:border-base-content/90 hover:bg-base-content/90'>
            {user.name[0]}
          </button>
          <div slot='content'>
            <li class='text-lg font-bold'><a data-astro-prefetch href='/changelog'>Changelog</a></li>
            <li>
              <a class='text-lg font-bold'>
                <SignOut> Logout </SignOut>
              </a>
            </li>
          </div>
        </Dropdown>
      </nav>
    </header>
    <main class='flex-container z-10'>
      <div class='content h-full p-8'>
        <slot />
      </div>
    </main>
    {
      pageName && (
        <footer
          transition:animate='fade'
          transition:persist
          role='tablist'
          class='tabs-boxed tabs grid h-[4.65rem] w-full grid-cols-3 items-center justify-between rounded-b-none bg-base-300 px-3 md:hidden'>
          {links.map((link) => (
            <>
              {link === pageName ? (
                <a role='link' class={`tab h-3/4 text-base font-bold ${pageName === link && 'tab-active'}`}>
                  {link}
                </a>
              ) : (
                <a
                  data-astro-prefetch
                  href={`/${link.toLowerCase()}`}
                  role='link'
                  class={`tab h-3/4 text-base font-bold ${pageName === link && 'tab-active'}`}>
                  {link}
                </a>
              )}
            </>
          ))}
        </footer>
      )
    }
  </body>
</html>
<style>
  @view-transition {
    navigation: auto; /* enabled! */
  }
</style>
