---
import '@/styles/commons.css';
import { seoConfig } from '@/utils/seoConfig';
import Dropdown from '@components/Dropdown.astro';
import SignOut from '@components/SignOutButton.astro';
import UserLetter from '@components/UserLetter.astro';
import '@fontsource/inter';
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';

type Props = {
  pageName?: string;
};
const { pageName } = Astro.props;
const links = ['Activities', 'Goals', 'Reports'];
---

<html>
  <head>
    <SEO
      title={pageName}
      description={seoConfig.description}
      noindex={false}
      nofollow={false}
      openGraph={{
        basic: {
          title: pageName || seoConfig.siteName,
          type: 'website',
          image: seoConfig.image.url
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: seoConfig.image.alt
        },
        optional: {
          siteName: seoConfig.siteName,
          description: seoConfig.description
        }
      }}
    />
    <ClientRouter />

    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='msapplication-config' content='/browserconfig.xml' />
    <meta name='msapplication-TileColor' content='#15191e' />
    <meta name='theme-color' content='#15191e' />

    <script is:inline src='/registerSW.js'></script>
    <link rel='manifest' href='/manifest.webmanifest' />
  </head>
  <body class='grid grid-rows-[auto_1fr_auto]'>
    <header class='h-16 bg-base-300 shadow-md shadow-base-300/50'>
      <nav class='flex h-full items-center justify-end gap-4'>
        {
          pageName && (
            <div class='hidden gap-4 md:flex'>
              {links.map((link) => (
                <a
                  data-astro-prefetch='load'
                  href={`${link === pageName ? '#' : '/' + link.toLowerCase()}`}
                  role='link'
                  class='border border-transparent transition-colors duration-300 hover:border-b-warning'
                  class:list={[{ 'font-bold text-warning': pageName === link }]}>
                  {link}
                </a>
              ))}
            </div>
          )
        }
        <Dropdown>
          <button
            slot='trigger'
            class='btn btn-sm text-xs btn-circle border-base-content bg-base-content text-base-300 hover:border-base-content/90 hover:bg-base-content/90'>
            <UserLetter />
          </button>
          <div slot='content'>
            <li class='text-lg font-bold'><a href='/changelog'>Changelog</a></li>
            <li>
              <a class='flex text-lg font-bold'>
                <SignOut server:defer> Logout </SignOut>
              </a>
            </li>
          </div>
        </Dropdown>
      </nav>
    </header>
    <progress id='progress' class='progress absolute top-16 hidden h-[2px] w-full rounded-none'></progress>
    <main class="overflow-hidden">
      <div class='p-8'>
        <slot />
      </div>
    </main>
    <footer
      role='tablist'
      class='tabs-boxed grid h-16 grid-cols-3 items-center rounded-xl rounded-b-none bg-base-300 px-2 shadow shadow-base-content/10 md:hidden'>
      {
        links.map((link) => (
          <a
            data-astro-prefetch='load'
            href={`${pageName === link ? '#' : '/' + link.toLowerCase()}`}
            role='link'
            class:list={[{ 'tab-active': pageName === link }]}
            class='tab h-3/4 text-base font-bold'>
            {link}
          </a>
        ))
      }
    </footer>
  </body>
</html>
<script>
  document.addEventListener('astro:page-load', () => {
    const progress = document.getElementById('progress');
    document.addEventListener('click', (e) => {
      const target = e.target as HTMLElement;
      if (target.tagName === 'A') {
        progress?.classList.remove('hidden');
      }
    });
  });
</script>
